BeatDown STX Replacer.py
CITEM.MRG
csvEditor.py
FAT_BRE_A.STX.png
FAT_WEA_A.STX - Copia.png
FAT_WEA_A.STX.png
FAT_WEA_B.STX - Copia.png
FAT_WEA_B.STX.png
Gang Wars.py
ITEM_E.BIN
ITEM.MRG
NPCPAK024 - Copia.RWS
NPCPAK024.RWS
NPCPAK113.RWS
NPCPAK117.RWS
NPCPAK162.RWS
NPCPAK166.RWS
NPCPAK170.RWS
objText.bin
objtoraw.py
PA013141.RWS
PA235141.RWS
PA343337.RWS
pal.bin
PAN_E38AAA.STX.png
PARTS003.RWS
PARTS004.RWS
PARTS005.RWS
PARTS006.RWS
PARTS007.RWS
PARTS008.RWS
PARTS009.RWS
PARTS396-0.mtl
PARTS396-0.obj
PARTS396OLD-0.obj
PARTS396WRKING-0.obj
Patch Iso 10.exe
patch iso.c
patch iso.cpp
patch iso.exe
patch iso.py
patch obj.py
Patched test.obj
PB092359.RWS
PB092359@0000124656.png
PB092470.RWS
PB325021.RWS
PC003296135.RWS
PD033034.RWS
PD033036.RWS
PD033087.RWS
PD096464.RWS
PD112036.RWS
rws navigator.py
SCTEX0437.RWS
SCTEX0438.RWS
SCTEX0439.RWS
SCTEX0440.RWS
SCTEX0441.RWS
SCTEX0442.RWS
SCTEX0443.RWS
SCTEX0444.RWS
SHOP.MRG
SHOPEV.BIN
test.csv
Test.py
Test.STX
test2.txt
testobj-0.obj
untitled.obj
UTF8_E.BIN
WEA_A01AAA.STX - Copia.png
WEA_A19AAA.STX.png
WEA_E24AAE.png
WEA_E24AAG.STX.png
WEA_E25BAG.STX.png
WEA_H39AAA.STX - Copia.png
WEA_H39AAA.STX.png
WEA_Q52AAH.STX - Copia.png
WEA_Q52AAH.STX.png
WOMAN - Copia.CSV
WOMAN.CSV
.vscode/tasks.json
Export/NPCPAK031.RWS
Export/NPCPAK073-0.obj
Export/NPCPAK073-1.obj
Export/NPCPAK073-2.obj
Export/NPCPAK073-3.obj
Export/NPCPAK073-4.obj
Export/NPCPAK073-5.obj
Export/NPCPAK073-6.obj
Export/NPCPAK073-7.obj
Export/NPCPAK073-8.obj
Export/NPCPAK073-9.obj
Export/NPCPAK073-10.obj
Export/NPCPAK073-11.obj
Export/NPCPAK073.RWS
Export/WEA_A01AAA.STX
Export/WEA_H39AAA.STX
Export/Nova pasta/CHARA.BIN
Export/Nova pasta/FAT_ABD_A.STX
Export/Nova pasta/FAT_ABD_AB.STX
Export/Nova pasta/FAT_ABD_AC.STX
Export/Nova pasta/FAT_ACS_A.STX
Export/Nova pasta/FAT_ARM_A.STX
Export/Nova pasta/FAT_ARM_AB.STX
Export/Nova pasta/FAT_ARM_B.STX
Export/Nova pasta/FAT_ARM_BB.STX
Export/Nova pasta/FAT_ARM_C.STX
Export/Nova pasta/FAT_BAC_A.STX
Export/Nova pasta/FAT_BAC_AB.STX
Export/Nova pasta/FAT_BAC_B.STX
Export/Nova pasta/FAT_BAND.ANM
Export/Nova pasta/FAT_BAND.DFF
Export/Nova pasta/FAT_BODY - Copia.DFF
Export/Nova pasta/FAT_BODY_T-0.obj
Export/Nova pasta/FAT_BODY_T.DFF
Export/Nova pasta/FAT_BODY-0.obj
Export/Nova pasta/FAT_BODY.DFF
Export/Nova pasta/FAT_BRE_A.STX
Export/Nova pasta/FAT_BRE_AB.STX
Export/Nova pasta/FAT_BRE_AC.STX
Export/Nova pasta/FAT_BRE_B.STX
Export/Nova pasta/FAT_BRE_C.STX
Export/Nova pasta/FAT_BRO_A.STX
Export/Nova pasta/FAT_BRO_AB.STX
Export/Nova pasta/FAT_BRO_AC.STX
Export/Nova pasta/FAT_BRO_B.STX
Export/Nova pasta/FAT_BRO_BB.STX
Export/Nova pasta/FAT_BRO_BC.STX
Export/Nova pasta/FAT_BRO_C.STX
Export/Nova pasta/FAT_EYE_A.STX
Export/Nova pasta/FAT_EYE_AB.STX
Export/Nova pasta/FAT_EYE_B.STX
Export/Nova pasta/FAT_EYE.DFF
Export/Nova pasta/FAT_FACE.DFF
Export/Nova pasta/FAT_HAI_A.STX
Export/Nova pasta/FAT_HAIR.DFF
Export/Nova pasta/FAT_HAN_A.STX
Export/Nova pasta/FAT_HAN_B.STX
Export/Nova pasta/FAT_LBOOTS.ANM
Export/Nova pasta/FAT_LBOOTS.DFF
Export/Nova pasta/FAT_LEG_A.STX
Export/Nova pasta/FAT_LEG_AB.STX
Export/Nova pasta/FAT_LEG_B.STX
Export/Nova pasta/FAT_MOU_A.STX
Export/Nova pasta/FAT_MOU_AB.STX
Export/Nova pasta/FAT_MOU_AC.STX
Export/Nova pasta/FAT_MOU_B.STX
Export/Nova pasta/FAT_MOU_BB.STX
Export/Nova pasta/FAT_MOU_BC.STX
Export/Nova pasta/FAT_MOU_C.STX
Export/Nova pasta/FAT_NOS_A.STX
Export/Nova pasta/FAT_NOS_AB.STX
Export/Nova pasta/FAT_NOS_B.STX
Export/Nova pasta/FAT_RBOOTS.ANM
Export/Nova pasta/FAT_RBOOTS.DFF
Export/Nova pasta/FAT_SAYA.ANM
Export/Nova pasta/FAT_SAYA.DFF
Export/Nova pasta/FAT_TONGUE.DFF
Export/Nova pasta/FAT_WEA_A.STX
Export/Nova pasta/FAT_WEA_AB.STX
Export/Nova pasta/FAT_WEA_B.STX
Export/Nova pasta/FAT_WEAR_T.ANM
Export/Nova pasta/FAT_WEAR_T.DFF
Export/Nova pasta/FAT_WEAR-0-pathced.obj
Export/Nova pasta/FAT_WEAR-0.obj
Export/Nova pasta/FAT_WEAR.ANM
Export/Nova pasta/FAT_WEAR.DFF
Export/Nova pasta/NPC069.BIN
Export/Nova pasta/NPOS_DATA.DAT
Export/Nova pasta/texture.mtl
Export/Nova pasta/untitled.mtl
Export/Nova pasta/untitled.obj
Export/Nova pasta/UTF8_E.BIN
Export/Nova pasta/WEAR_E02-0 - Copia.obj
Export/Nova pasta/WEAR_E02-0.obj
Files/ARCHIVE.XAF
Files/CDATA.XAF
Files/DATA.XAF
Files/GRAPH.XAF
Files/Original/ARCHIVE.XAF
Files/Original/DATA.XAF
Nova pasta/ABD_C51AAA.STX - Copia-DIVquant256.png
Nova pasta/ABD_C51AAA.STX - Copia-DL3quant256.png
Nova pasta/ABD_C51AAA.STX - Copia.png
Nova pasta/BRE_C51AAE.STX - Copia.png
Nova pasta/DATA.XAF
Nova pasta/FSCENE.XAF
Nova pasta/MOU_C51AAA.STX - Copia-DIVquant256.png
Nova pasta/MOU_C51AAA.STX - Copia.png
Nova pasta/nQuantCpp.bat
Nova pasta/nQuantCpp.exe
Nova pasta/test.py
Nova pasta/WEA_Q52AAH.STX-DIVquant256.png
Nova pasta/WEA_Q52AAH.STX.png
Nova pasta (2)/ABD_C51AAA.STX - Copia.png
Nova pasta (2)/ABD_C51AAA.STX.png
Nova pasta (2)/BRE_C51AAE.STX - Copia.png
Nova pasta (2)/BRE_C51AAE.STX.png
Nova pasta (2)/BRE_C51BAE.STX.png
Nova pasta (2)/BRE_C51CAE.STX.png
Nova pasta (2)/BRO_C58AAA.STX.png
Nova pasta (2)/CHS_GRAPH03.STX.png
Nova pasta (2)/FAT_BRO_A.STX.png
Nova pasta (2)/FAT_MOU_A.STX.png
Nova pasta (2)/MOU_A03AAA.STX.png
Nova pasta (2)/MOU_A05AAA.STX.png
Nova pasta (2)/MOU_C01AAA.STX.png
Nova pasta (2)/MOU_C51AAA.STX - Copia.png
Nova pasta (2)/MOU_C51AAA.STX.png
Nova pasta (2)/MOU_C58AAA.STX.png
Nova pasta (2)/NOM_MOU_B.STX.png
Old Files/BeatDown Image Extractor.py
Output/PARTS110.RWS
Output/PARTS115.RWS
Output/PARTS390.RWS
Output/PARTS391.RWS
Output/PARTS392.RWS
Output/PARTS393.RWS
Output/PARTS394.RWS
Output/PARTS395.RWS
Output/PARTS396.RWS
Output/PARTS397.RWS
Output/PARTS398.RWS
Output/PB092359.RWS
Output/raw.txt
UI/main.ui
FAT_ABD_A.STX.png
FAT_ACS_A.STX.png
FAT_ARM_A.STX.png
FAT_ARM_B.STX.png
FAT_BAC_A.STX.png
FAT_BRO_A.STX.png
FAT_BRO_B.STX.png
FAT_EYE_A.STX.png
FAT_HAI_A.STX.png
FAT_HAN_A.STX.png
FAT_HAN_B.STX.png
FAT_LEG_A.STX.png
FAT_LEG_B.STX.png
FAT_MOU_A.STX.png
FAT_MOU_B.STX.png
FAT_NOS_A.STX.png
WEA_A01AAA.STX.png
Export/NPCPAK073-0-pathced.obj
Export/NPCPAK073-1-pathced.obj
Export/NPCPAK073-2-pathced.obj
Export/NPCPAK073-3-pathced.obj
Export/NPCPAK073-4-pathced.obj
Export/NPCPAK073-5-pathced.obj
Export/NPCPAK073-6-pathced.obj
Export/NPCPAK073-7-pathced.obj
Export/NPCPAK073-8-pathced.obj
Export/NPCPAK073-9-pathced.obj
Export/NPCPAK073-10-pathced.obj
Export/NPCPAK073-11-pathced.obj
Debug.txt
Export/FAT_ACS_A.RWS
Export/FAT_WEA_A.RWS
Export/NPCPAK073 - Copia.RWS
unswizztest.txt
